@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto), var(--font-noto-sans-kr), ui-sans-serif, system-ui, sans-serif;
  --base-color: #464545;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
